<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Server" value="VIJAY-PC\SQLEXPRESS"/>
    <add key="Database" value="TS"/>
    <add key="UserID" value="sa"/>
    <add key="Password" value="sa123"/>
    <add key="OutPutFilePath" value="C:\CodeGeneratorOutput"/>
    <add key="namespaceName" value="Transporter"/>
    <add key="language" value="C#"/>
    <add key="preClass" value=""/>
    <add key="postClass" value=""/>
    <add key="preVar" value="_"/>
    <add key="postVar" value=""/>

    <add key="preInsProc" value="Proc_"/>
    <add key="postInsProc" value=""/>
    <add key="preUpdProc" value="Proc_"/>
    <add key="postUpdProc" value=""/>
    <add key="preParam" value=""/>
    <add key="postParam" value=""/>
    <add key="preUIName" value="Frm"/>
    <add key="postUIName" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
